body{
    background-image: url(./bg.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.education{
    display: flex;
    flex-direction: column;
}
.education p{
    font-size: 20px;
}

.image{
    display: flex;
    flex-direction: row;
}
img{
    border-radius:5px;
}

.about p{
    font-size: 20px;
    width: 800px;
    text-align: justify;
}
.container1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/*.language{
    margin-left: 45px;
}*/
.language ul{
    font-size: 20px;
   
}
.checked{
    color:rgb(15, 182, 126);
}
